/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Roboto/roboto-v20-latin_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/Roboto/roboto-v20-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/roboto-v20-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/Roboto/roboto-v20-latin_cyrillic-regular.woff") format("woff"), url("../fonts/Roboto/roboto-v20-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/Roboto/roboto-v20-latin_cyrillic-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Roboto/roboto-v20-latin_cyrillic-500.eot"); /* IE9 Compat Modes */
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/Roboto/roboto-v20-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/roboto-v20-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/Roboto/roboto-v20-latin_cyrillic-500.woff") format("woff"), url("../fonts/Roboto/roboto-v20-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/Roboto/roboto-v20-latin_cyrillic-500.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Roboto/roboto-v20-latin_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/Roboto/roboto-v20-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/roboto-v20-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/Roboto/roboto-v20-latin_cyrillic-700.woff") format("woff"), url("../fonts/Roboto/roboto-v20-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/Roboto/roboto-v20-latin_cyrillic-700.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Roboto/roboto-v20-latin_cyrillic-900.eot"); /* IE9 Compat Modes */
  src: local("Roboto Black"), local("Roboto-Black"), url("../fonts/Roboto/roboto-v20-latin_cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/roboto-v20-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/Roboto/roboto-v20-latin_cyrillic-900.woff") format("woff"), url("../fonts/Roboto/roboto-v20-latin_cyrillic-900.ttf") format("truetype"), url("../fonts/Roboto/roboto-v20-latin_cyrillic-900.svg#Roboto") format("svg"); /* Legacy iOS */
}
.btn-white, .btn-black, .hero-btn {
  height: 50px;
  border: 1px solid transparent;
  border-radius: 5px;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  display: inline-block;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

link {
  text-decoration: none;
}

.container {
  padding-left: 18px;
  padding-right: 18px;
}
@media screen and (min-width: 1200px) {
  .container {
    padding-left: 170px;
    padding-right: 170px;
  }
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 800px;
    background-image: url(../../images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.hero-title {
  color: #fff;
}

.hero-text {
  color: #d4d5d7;
}

.hero-btn {
  background-color: #d91965;
  color: #fff;
  padding: 15px 40px;
}

.qualities--visually-hidden,
.works--visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.menu {
  background-color: #ffffff;
  z-index: 1;
}
.menu.is-open {
  display: block;
}
@media screen and (max-width: 767px) {
  .menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .menu {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .menu {
    width: inherit;
    justify-content: space-between;
  }
}

.menu__btn {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 767px) {
  .menu__btn {
    display: none;
  }
}

.menu__close-icon {
  display: none;
}

.menu__btn.is-open .menu__open-icon {
  display: none;
}

.menu__btn.is-open .menu__close-icon {
  display: block;
}

.menu__btn:hover .menu__close-icon,
.menu__btn:focus .menu__close-icon,
.menu__btn:hover .menu__open-icon,
.menu__btn:focus .menu__open-icon {
  fill: #000;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-nav {
  display: flex;
  list-style: none;
  column-gap: 32px;
}

.feature-list {
  display: flex;
}

.git-stars {
  display: flex;
  align-items: center;
  column-gap: 4px;
}

.comparison {
  display: flex;
}/*# sourceMappingURL=main.css.map */