@font-face {
  font-family: "DIN Pro";
  src: url("../fonts/DINPro/DINPro-Bold.woff2") format("woff2"), url("../fonts/DINPro/DINPro-Bold.woff") format("woff"), url("../fonts/DINPro/DINPro-Bold.ttf") format("truetype"), local("DIN Pro Bold");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-00FF, U+2000-206F; /* general punctuation */
}
@font-face {
  font-family: "DIN Pro fallback";
  font-weight: 700;
  line-gap-override: 50%;
  size-adjust: 97.38%;
  ascent-override: 99%;
  src: local("Arial");
}
@font-face {
  font-family: "Manrope";
  src: local("Manrope Regular"), local("Manrope-Regular"), url("../fonts/Manrope/Manrope-Regular.woff2") format("woff2"), url("../fonts/Manrope/Manrope-Regular.woff") format("woff"), url("../fonts/Manrope/Manrope-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope Bold";
  src: local("Manrope Bold"), local("Manrope-Bold"), url("../fonts/Manrope/Manrope-Bold.woff2") format("woff2"), url("../fonts/Manrope/Manrope-Bold.woff") format("woff"), url("../fonts/Manrope/Manrope-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
#articles, #team, .demo-header, .form-section, .feature-list, .container {
  padding-left: 18px;
  padding-right: 18px;
}
@media screen and (min-width: 1200px) {
  #articles, #team, .demo-header, .form-section, .feature-list, .container {
    padding-left: 170px;
    padding-right: 170px;
  }
}
@media screen and (min-width: 1900px) {
  #articles, #team, .demo-header, .form-section, .feature-list, .container {
    padding-left: 355px;
    padding-right: 355px;
  }
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html,
body,
div,
span,
iframe,
a,
ul,
li,
img,
form,
label,
footer,
header,
nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  color: #2e384d;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  line-height: 1;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

footer,
header,
nav,
section {
  display: block;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input:focus,
button:focus {
  outline: 0;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
p {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer;
}

link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hero-btn {
  height: 50px;
  min-width: 165px;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-color: #d91965;
  background-color: #d91965;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: "DIN Pro", "DIN Pro fallback", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.35px;
  font-weight: 700;
  color: #fff;
  width: 191px;
}
@media screen and (min-width: 1200px) {
  .hero-btn {
    padding: 15px 40px;
    width: 195px;
  }
}
.hero-btn:is(:hover, :focus) {
  background-color: #fff;
  color: #d91965;
  border-color: #d91965;
}

.btn-black {
  height: 50px;
  min-width: 165px;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-color: #000;
  background-color: #000;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: "DIN Pro", "DIN Pro fallback", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.35px;
  font-weight: 700;
  color: #fff;
}
@media screen and (min-width: 1200px) {
  .btn-black {
    padding: 15px 40px;
    width: 195px;
  }
}
.btn-black:is(:hover, :focus) {
  background-color: #d91965;
  border-color: #d91965;
}

.btn-white {
  height: 50px;
  min-width: 165px;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-color: #d91965;
  background-color: #fff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: "DIN Pro", "DIN Pro fallback", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.35px;
  font-weight: 700;
  color: #d91965;
}
@media screen and (min-width: 1200px) {
  .btn-white {
    padding: 15px 40px;
    width: 195px;
  }
}
.btn-white:is(:hover, :focus) {
  background-color: #d91965;
  color: #fff;
}

.qualities--visually-hidden,
.works--visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.menu {
  background-color: #ffffff;
  z-index: 1;
}
.menu.is-open {
  display: block;
}
@media screen and (max-width: 767px) {
  .menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    padding: 30px 60px 40px 50px;
    border-bottom-left-radius: 20px;
  }
}
@media screen and (min-width: 768px) {
  .menu {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .menu {
    width: inherit;
    justify-content: space-between;
  }
}

.menu__btn {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 767px) {
  .menu__btn {
    display: none;
  }
}

.menu__close-icon {
  display: none;
}

.menu__btn.is-open .menu__open-icon {
  display: none;
}

.menu__btn.is-open .menu__close-icon {
  display: block;
}

.menu__btn:hover .menu__close-icon,
.menu__btn:focus .menu__close-icon,
.menu__btn:hover .menu__open-icon,
.menu__btn:focus .menu__open-icon {
  fill: #000;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .header-container {
    padding-top: 22px;
    padding-bottom: 22px;
  }
}
.header-container .name {
  overflow-x: visible;
}

.logo-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "DIN Pro", "DIN Pro fallback", sans-serif;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 1;
  font-weight: 700;
  color: #14181a;
  column-gap: 14px;
}

.site-nav {
  display: flex;
  list-style: none;
  column-gap: 32px;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .site-nav {
    flex-direction: row;
  }
}
@media screen and (max-width: 768px) {
  .site-nav {
    row-gap: 32px;
  }
}

@media screen and (max-width: 767px) {
  .site-nav__item.site-nav__item--current {
    margin-bottom: 52px;
  }
}

.site-nav__link {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0px;
  font-weight: 400;
  color: #2e384d;
}
.site-nav__link:is(:hover, :focus, :active) {
  text-decoration: underline;
}

.hero {
  background-color: #10133c;
}
.hero .container {
  padding-top: 55px;
  padding-bottom: 55px;
  overflow-x: visible;
}
@media screen and (min-width: 768px) {
  .hero .container {
    padding-top: 63px;
    padding-bottom: 63px;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    min-height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right 50%;
  }
  .hero .container {
    width: 60%;
  }
  .hero .hero-btn {
    width: 200px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .hero {
    background-image: url("../images/hero@1x.jpg");
    background-image: -webkit-image-set(url("../images/hero@1x.webp"), url("../images/hero@1x.jpg"));
    background-image: image-set(url("../images/hero@1x.webp") type("image/webp") 1x, url("../images/hero@1x.jpg") type("image/jpeg") 1x);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: url("../images/hero@1x.jpg");
    /* For Chrome and Safari */
    background-image: -webkit-image-set(url("../images/hero@1x.jpg") 1x, url("../images/hero@2x.jpg") 2x);
    /* For Firefox */
    background-image: image-set(url("../images/hero@1x.webp") type("image/webp") 1x, url("../images/hero@2x.webp") type("image/webp") 2x, url("../images/hero@1x.jpg") type("image/jpeg") 1x, url("../images/hero@2x.jpg") type("image/jpeg") 2x);
  }
}
@media screen and (min-width: 1900px) {
  .hero .container {
    width: 50%;
  }
}

.hero-title {
  font-family: "DIN Pro", "DIN Pro fallback", sans-serif;
  font-size: 48px;
  line-height: 1.25;
  letter-spacing: -3px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 72px;
    line-height: 1;
    letter-spacing: -3px;
    margin-bottom: 40px;
    overflow-x: visible;
  }
}

.hero-text {
  font-family: "Manrope", sans-serif;
  font-size: 22px;
  line-height: 1.46;
  letter-spacing: 0px;
  font-weight: 400;
  color: #d4d5d7;
  margin-bottom: 24px;
  overflow-x: visible;
}
@media screen and (min-width: 768px) {
  .hero-text {
    margin-bottom: 40px;
  }
}

.feature-list {
  padding-top: 48px;
  padding-bottom: 64px;
}
@media screen and (min-width: 768px) {
  .feature-list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  .feature-list {
    padding-top: 72px;
    padding-bottom: 96px;
  }
}

@media (max-width: 767px) {
  .feature:not(:last-child) {
    margin-bottom: 48px;
  }
}
@media (min-width: 768px) {
  .feature:not(:last-child) {
    margin-right: 40px;
  }
}
@media (min-width: 1200px) {
  .feature:not(:last-child) {
    margin-right: 81px;
  }
}
@media screen and (min-width: 1900px) {
  .feature:not(:last-child) {
    margin-right: 200px;
  }
}

.feature-icon {
  margin-bottom: 31px;
}

.feature-title {
  font-family: "Manrope Bold", sans-serif;
  font-size: 22px;
  line-height: 1.55;
  letter-spacing: -0.6px;
  font-weight: 700;
  color: #14181a;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .feature-title {
    height: 70px;
  }
}
@media (min-width: 1200px) {
  .feature-title {
    height: auto;
  }
}

.feature-text {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: -0.36px;
  font-weight: 400;
  color: #2e384d;
}

@media screen and (min-width: 1200px) {
  .comparison {
    display: flex;
    justify-content: center;
    align-items: stretch;
  }
}

.frontend,
.backend {
  padding-top: 48px;
  padding-bottom: 64px;
}
@media (max-width: 1199px) {
  .frontend,
  .backend {
    padding-left: 18px;
    padding-right: 18px;
    overflow-x: visible;
  }
}
@media screen and (min-width: 1200px) {
  .frontend,
  .backend {
    flex-basis: 50%;
    padding-bottom: 96px;
    padding-top: 64px;
  }
}

.frontend {
  border-top: 1px solid #fafafa;
  padding-left: 18px;
}
@media screen and (min-width: 1200px) {
  .frontend {
    padding-left: 170px;
    padding-right: 53px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frontend .comparison-footer {
    margin-top: auto;
  }
}
@media screen and (min-width: 1900px) {
  .frontend {
    padding-left: 355px;
  }
}

.backend {
  background-color: #fafafa;
}
@media screen and (min-width: 1200px) {
  .backend {
    padding-left: 40px;
    padding-right: 170px;
  }
}
@media screen and (min-width: 1900px) {
  .backend {
    padding-right: 355px;
  }
}

.comparison-title {
  font-family: "DIN Pro", "DIN Pro fallback", sans-serif;
  font-size: 36px;
  line-height: 1.33;
  letter-spacing: -2px;
  font-weight: 700;
  color: #14181a;
  margin-top: 32px;
  margin-bottom: 16px;
}

.comparison-text {
  font-family: "Manrope", sans-serif;
  font-size: 22px;
  line-height: 1.46;
  letter-spacing: -0.4px;
  font-weight: 400;
  color: #2e384d;
  margin-bottom: 24px;
  max-width: 850px;
}

.git-stars {
  display: flex;
  align-items: center;
  column-gap: 4px;
  margin-bottom: 32px;
}

.git-text {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 2px;
  font-weight: 500;
  color: #2e384d;
  text-align: center;
}

.comparison-list {
  padding-left: 15px;
  padding-bottom: 32px;
  overflow-x: visible;
}

.comparison-item {
  list-style-type: disc;
  list-style-position: outside;
  overflow-x: visible;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  line-height: 1.31;
  letter-spacing: -0.36px;
  font-weight: 500;
  color: #d91965;
  margin-bottom: 14px;
}
.comparison-item span {
  color: #14181a;
  font-weight: 700;
}

.total {
  font-family: "Manrope Bold", sans-serif;
  font-size: 18px;
  line-height: 1.77;
  letter-spacing: -0.6px;
  font-weight: 700;
  color: #14181a;
  margin-top: 32px;
  margin-bottom: 32px;
}
.total span {
  color: #d91965;
}

.comparison-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.comparison-footer {
  width: 100%;
  border-top: 1px solid #afb2b8;
}

.form-section {
  background-color: #10133c;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  padding-top: 169px;
  padding-bottom: 169px;
}
@media (max-width: 767px) {
  .form-section {
    background-image: url("../images/mobForm@1x.jpg");
    background-image: -webkit-image-set(url("../images/mobForm@1x.webp"), url("../images/mobForm@1x.jpg"));
    background-image: image-set(url("../images/mobForm@1x.webp") type("image/webp") 1x, url("../images/mobForm@1x.jpg") type("image/jpeg") 1x);
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .form-section {
    background-image: url("../images/mobForm@1x.jpg");
    background-image: -webkit-image-set(url("../images/mobForm@1x.webp") 1x, url("../images/mobForm@1x.jpg") 1x, url("../images/mobForm@2x.webp") 2x, url("../images/mobForm@2x.jpg") 2x);
    background-image: image-set(url("../images/mobForm@1x.webp") type("image/webp") 1x, url("../images/mobForm@2x.webp") type("image/webp") 2x, url("../images/mobForm@1x.jpg") type("image/jpeg") 1x, url("../images/mobForm@2x.jpg") type("image/jpeg") 2x);
  }
}
@media screen and (min-width: 1200px) {
  .form-section {
    padding-top: 85px;
    padding-bottom: 85px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 50px;
    background-image: url("../images/form@1x.jpg");
    background-image: -webkit-image-set(url("../images/form@1x.webp") 1x, url("../images/form@2x.webp") 2x, url("../images/form@3x.webp") 3x, url("../images/form@1x.jpg") 1x, url("../images/form@2x.jpg") 2x, url("../images/form@3x.jpg") 3x);
    background-image: image-set(url("../images/form@1x.webp") type("image/webp") 1x, url("../images/form@2x.webp") type("image/webp") 2x, url("../images/form@3x.webp") type("image/webp") 3x, url("../images/form@1x.jpg") type("image/jpeg") 1x, url("../images/form@2x.jpg") type("image/jpeg") 2x, url("../images/form@3x.jpg") type("image/jpeg") 3x);
  }
}
@media screen and (min-width: 1350px) {
  .form-section {
    justify-content: flex-start;
    column-gap: 100px;
  }
}
@media screen and (min-width: 1900px) {
  .form-section {
    background-image: url("../images/form@1x.jpg");
    background-image: -webkit-image-set(url("../images/form@2x.webp") 1x, url("../images/form@3x.webp") 2x, url("../images/form@2x.jpg") 1x, url("../images/form@3x.jpg") 2x);
    background-image: image-set(url("../images/form@2x.webp") type("image/webp") 1x, url("../images/form@3x.webp") type("image/webp") 2x, url("../images/form@2x.jpg") type("image/jpeg") 1x, url("../images/form@3x.jpg") type("image/jpeg") 2x);
  }
}

.form-title {
  font-family: "Manrope Bold", sans-serif;
  font-size: 48px;
  line-height: 1.17;
  letter-spacing: -1px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 72px;
  padding-bottom: 0;
}
@media screen and (min-width: 1200px) {
  .form-title {
    flex-basis: 50%;
    margin-bottom: 0;
  }
}

.form-container {
  position: relative;
  top: 40px;
  height: 150px;
  width: 350px;
}

#features {
  background-color: #fafafa;
  scroll-behavior: smooth;
}

.demo-header {
  padding-top: 48px;
  position: relative;
}
@media screen and (min-width: 1200px) {
  .demo-header .hero-btn {
    position: absolute;
    top: 48px;
    right: 170px;
  }
}
@media screen and (min-width: 1900px) {
  .demo-header .hero-btn {
    right: 355px;
  }
}

.demo-basic {
  font-family: "Manrope", sans-serif;
  font-size: 22px;
  line-height: 1.46;
  letter-spacing: -0.4px;
  font-weight: 400;
  color: #2e384d;
  margin-top: 24px;
  margin-bottom: 32px;
}
@media screen and (min-width: 1200px) {
  .demo-basic {
    width: calc(100% - 200px);
  }
}

.demo-title {
  font-family: "DIN Pro", "DIN Pro fallback", sans-serif;
  font-size: 36px;
  line-height: 1.35;
  letter-spacing: -2px;
  font-weight: 700;
  color: #14181a;
  margin-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .demo-title {
    font-size: 48px;
  }
}

.demo-img {
  aspect-ratio: 354/203;
}

.demo-item {
  padding-top: 24px;
  padding-bottom: 24px;
}
@media (max-width: 1199px) {
  .demo-item {
    padding-left: 18px;
    padding-right: 18px;
  }
  .demo-item .demo-img {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .demo-item {
    display: flex;
    align-items: center;
    column-gap: 70px;
  }
  .demo-item:nth-child(odd) {
    padding-left: 170px;
  }
  .demo-item:nth-child(odd) .demo-img {
    object-position: 0 0;
  }
  .demo-item:nth-child(even) {
    padding-right: 170px;
    flex-direction: row-reverse;
  }
  .demo-item:nth-child(even) .demo-img {
    object-position: 100%;
  }
}
@media screen and (min-width: 1900px) {
  .demo-item:nth-child(odd) {
    padding-left: 355px;
  }
  .demo-item:nth-child(even) {
    padding-right: 355px;
  }
}

.demo-text {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  line-height: 2;
  letter-spacing: -0.36px;
  font-weight: 400;
  color: #2e384d;
  margin-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .demo-text {
    flex-basis: 40%;
  }
}

@media screen and (min-width: 1200px) {
  .demo-img {
    height: 580px;
    object-fit: cover;
  }
}

#showcase {
  margin-top: 48px;
  scroll-behavior: smooth;
}

.showcase-stars {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1199px) {
  .showcase-stars {
    flex-direction: column;
  }
}
@media (min-width: 1200px) {
  .showcase-stars {
    align-items: flex-start;
    column-gap: 120px;
  }
}

.showcase-description {
  margin-bottom: 32px;
}
@media screen and (min-width: 1200px) {
  .showcase-description {
    flex-basis: 46%;
  }
}

.showcase-title {
  font-family: "DIN Pro", "DIN Pro fallback", sans-serif;
  font-size: 36px;
  line-height: 1.35;
  letter-spacing: -2px;
  font-weight: 700;
  color: #14181a;
}
@media screen and (min-width: 1200px) {
  .showcase-title {
    font-size: 48px;
    margin-bottom: 16px;
  }
}

.showcase-text {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  line-height: 2;
  letter-spacing: -0.36px;
  font-weight: 400;
  color: #2e384d;
  margin-bottom: 16px;
}
.showcase-text a {
  font-family: "Manrope Bold", sans-serif;
  font-size: 16px;
  line-height: 2;
  letter-spacing: -0.36px;
  font-weight: 700;
  color: #14181a;
  text-decoration: underline;
}

@media screen and (min-width: 1200px) {
  .dev-number-box {
    display: flex;
    justify-content: center;
    align-items: stretch;
    max-width: 512px;
  }
}

.dev-number-upper {
  background-color: #fafafa;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .dev-number-upper {
    border-top-right-radius: 0;
    border-bottom-left-radius: 20px;
  }
}

.dev-number {
  font-family: "DIN Pro", "DIN Pro fallback", sans-serif;
  font-size: 64px;
  line-height: 1.15;
  letter-spacing: -3px;
  font-weight: 700;
  color: #14181a;
  padding: 24px 24px 0;
  overflow-x: visible;
}
@media screen and (min-width: 1200px) {
  .dev-number {
    padding: 16px 20px 0 24px;
  }
}

.developers {
  font-family: "DIN Pro", "DIN Pro fallback", sans-serif;
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: -0.36px;
  font-weight: 500;
  color: #000;
  background-color: #fafafa;
  text-transform: uppercase;
  padding-left: 24px;
}
@media screen and (min-width: 1200px) {
  .developers {
    padding: 0 20px 16px 24px;
  }
}

.dev-number-text {
  background-color: #fafafa;
  font-family: "Manrope Bold", sans-serif;
  font-size: 22px;
  line-height: 1.55;
  letter-spacing: -0.6px;
  font-weight: 700;
  color: #14181a;
  padding: 20px 24px 24px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .dev-number-text {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .dev-number-text {
    border-bottom-left-radius: 0;
    border-top-right-radius: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .showcase-image {
    flex-basis: 46%;
  }
}

.cases-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 96px;
}
@media screen and (min-width: 1200px) {
  .cases-list {
    flex-direction: row;
    padding: 21px 24px 96px 20px;
  }
}
@media screen and (min-width: 1200px) {
  .cases-list .case-item {
    margin-bottom: 0;
  }
  .cases-list .case-item:not(:last-child) {
    margin-right: 30px;
  }
}

.case-item {
  flex-basis: 33%;
  margin-bottom: 64px;
}

.case-logo {
  height: 85px;
}

.case-title {
  font-family: "Manrope Bold", sans-serif;
  font-size: 22px;
  line-height: 1.55;
  letter-spacing: -0.6px;
  font-weight: 700;
  color: #14181a;
  margin-bottom: 16px;
}

.case-text {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: -0.36px;
  font-weight: 400;
  color: #2e384d;
  margin-bottom: 16px;
}

.case-link {
  font-family: "Manrope Bold", sans-serif;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0;
  font-weight: 700;
  color: #14181a;
  text-decoration: underline;
}

.star-history-link {
  flex-basis: 50%;
}

#team {
  padding-top: 48px;
  padding-bottom: 64px;
  scroll-behavior: smooth;
}

@media screen and (min-width: 1200px) {
  .team-description {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.team-title {
  font-family: "DIN Pro", "DIN Pro fallback", sans-serif;
  font-size: 36px;
  line-height: 1.35;
  letter-spacing: -2px;
  font-weight: 700;
  color: #14181a;
  margin-bottom: 25px;
}
@media screen and (min-width: 1200px) {
  .team-title {
    font-size: 48px;
  }
}

.team-text {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  line-height: 2;
  letter-spacing: -0.36px;
  font-weight: 400;
  color: #2e384d;
  margin-bottom: 16px;
}
.team-text a {
  font-family: "Manrope Bold", sans-serif;
  font-size: 16px;
  line-height: 2;
  letter-spacing: -0.36px;
  font-weight: 700;
  color: #14181a;
  text-decoration: underline;
}
@media screen and (min-width: 1200px) {
  .team-text {
    margin-bottom: 0;
  }
}

.contributors-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
}
@media screen and (min-width: 768px) {
  .contributors-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .contributors-list {
    column-gap: 102px;
    row-gap: 64px;
  }
}

.contributor-item {
  padding-right: 43px;
}
.contributor-item:not(:last-child) {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .contributor-item {
    flex-basis: calc(50% - 25px);
  }
  .contributor-item:not(:last-child) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .contributor-item {
    flex-basis: calc(33% - 68px);
  }
}

.contributor-name {
  font-family: "Manrope Bold", sans-serif;
  font-size: 24px;
  line-height: 1;
  letter-spacing: -0.4px;
  font-weight: 800;
  color: #14181a;
  margin-top: 32px;
  overflow-x: visible;
}

.position {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.4px;
  font-weight: 400;
  color: #2e384d;
  overflow-x: visible;
}

.contributor-image {
  width: 300px;
  aspect-ratio: 1/1;
}

#contacts {
  background-color: #000;
  padding-top: 64px;
  padding-bottom: 96px;
  scroll-behavior: smooth;
}
#contacts a {
  font-family: "Manrope Bold", sans-serif;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.6px;
  font-weight: 700;
  color: #fff;
}
#contacts span {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 1.8px;
  font-weight: 500;
  color: #fff;
}

.contacts-title {
  font-family: "DIN Pro", "DIN Pro fallback", sans-serif;
  font-size: 64px;
  line-height: 1.15;
  letter-spacing: -3px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .contacts-title {
    font-size: 72px;
    line-height: 1;
    letter-spacing: -3.6px;
  }
}

.contacts-text {
  font-family: "Manrope", sans-serif;
  font-size: 22px;
  line-height: 1.46;
  letter-spacing: -0.4px;
  font-weight: 400;
  color: #afb2b8;
  margin-bottom: 48px;
}
@media screen and (min-width: 1200px) {
  .contacts-text {
    width: 80%;
  }
}

.contacts-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .contacts-list {
    flex-direction: row;
    justify-content: space-between;
  }
}

.contacts-item {
  display: inline-flex;
  margin-bottom: 48px;
}
.contacts-item:not(:last-child) {
  border-bottom: 1px solid #fff;
}
@media screen and (min-width: 1200px) {
  .contacts-item {
    margin-bottom: 0;
  }
}

.git-contacts {
  display: flex;
  align-items: center;
  column-gap: 40px;
}
.git-contacts span {
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
@media (max-width: 1199px) {
  .git-contacts {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 65%;
  }
  .git-contacts span {
    display: block;
    flex-basis: 100%;
  }
}
@media screen and (max-width: 1199px) and (max-width: 768px) {
  .git-contacts span {
    margin-bottom: 16px;
    display: flex;
    column-gap: 10px;
    align-items: center;
  }
}
.git-contacts a {
  text-decoration: underline;
}

#articles {
  background-color: #fafafa;
  padding-top: 48px;
  padding-bottom: 64px;
  scroll-behavior: smooth;
  position: relative;
}
@media screen and (min-width: 1200px) {
  #articles .btn-black {
    position: absolute;
    top: 48px;
    right: 170px;
  }
}
@media screen and (min-width: 1900px) {
  #articles .btn-black {
    right: 355px;
  }
}

.articles-title {
  font-family: "DIN Pro", "DIN Pro fallback", sans-serif;
  font-size: 36px;
  line-height: 1.35;
  letter-spacing: -2px;
  font-weight: 700;
  color: #14181a;
  margin-bottom: 25px;
}
@media screen and (min-width: 1200px) {
  .articles-title {
    font-size: 48px;
    margin-bottom: 32px;
  }
}

.articles-list {
  margin-top: 56px;
}

.article-item {
  margin-bottom: 12px;
}

.source {
  margin-top: 12px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
}

.article-link {
  font-family: "Manrope Bold", sans-serif;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0;
  font-weight: 700;
  color: #14181a;
  text-decoration: underline;
  display: block;
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .article-link {
    margin-left: 5px;
    margin-right: 5px;
    display: inline;
  }
}

.article-source {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 2px;
  font-weight: 500;
  color: #2e384d;
  display: inline;
  text-decoration: none !important;
  text-transform: uppercase;
}

.fw-img {
  display: inline;
}

footer {
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 48px;
  padding-bottom: 64px;
}
@media screen and (min-width: 1200px) {
  footer {
    padding-left: 170px;
    padding-right: 170px;
    padding-top: 56px;
    padding-bottom: 56px;
  }
}
@media screen and (min-width: 1900px) {
  footer {
    padding-left: 355px;
    padding-right: 355px;
  }
}

.footer-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .footer-list {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.footer-link {
  display: inline-flex;
  margin-bottom: 36px;
  border-bottom: 1px solid #000;
  font-family: "Manrope Bold", sans-serif;
  font-size: 22px;
  line-height: 1.55;
  letter-spacing: -0.6px;
  font-weight: 700;
  color: #14181a;
}
@media screen and (min-width: 1200px) {
  .footer-link {
    margin-bottom: 0;
  }
}/*# sourceMappingURL=main.css.map */