.hero-btn {
  @include button($bc: $mainEmphasisColor);
  width: 191px;
  &:is(:hover, :focus) {
    background-color: #fff;
    color: $mainEmphasisColor;
    border-color: $mainEmphasisColor;
  }
}
.btn-black {
  @include button($bc: #000, $bgc: #000, $cl: #fff);
  &:is(:hover, :focus) {
    background-color: $mainEmphasisColor;
    border-color: $mainEmphasisColor;
  }
}
.btn-white {
  @include button($bc: $mainEmphasisColor, $bgc: #fff, $cl: $mainEmphasisColor);
  &:is(:hover, :focus) {
    background-color: $mainEmphasisColor;
    color: #fff;
  }
}
