@font-face {
  font-family: "DIN Pro";
  src: url("./DINPro/DINPro-Bold.woff2") format("woff2"),
    url("./DINPro/DINPro-Bold.woff") format("woff"), local("DIN Pro Bold");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-00FF,
    /* Basic Latin, and Latin-1 Supplement */ U+2000-206F; /* general punctuation */
}

@font-face {
  font-family: "DIN Pro fallback";
  font-weight: 700;
  line-gap-override: 50%;
  size-adjust: 97.38%;
  ascent-override: 99%;
  src: local("Arial");
}
