@mixin font($fs: 18px, $lh: 1.56, $ls: 0.03em, $fw: 700) {
  font-size: $fs;
  line-height: $lh;
  letter-spacing: $ls;
  font-weight: $fw;
}
@mixin flex($df: flex, $jc: center, $ali: center) {
  display: $df;
  justify-content: $jc;
  align-items: $ali;
}
