%container {
  padding-left: $mobilePadding;
  padding-right: $mobilePadding;

  @media screen and (min-width: $desktop) {
    padding-left: $sidePadding;
    padding-right: $sidePadding;
  }
  @media screen and (min-width: $wide) {
    padding-left: $wideSidePadding;
    padding-right: $wideSidePadding;
  }
}
