%button {
  height: 50px;
  border: 1px solid transparent;
  border-radius: 5px;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 15px 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
%container {
  padding-left: $mobilePadding;
  padding-right: $mobilePadding;

  @media screen and (min-width: 1200px) {
    padding-left: $sidePadding;
    padding-right: $sidePadding;
  }
}
