%button {
  height: 50px;
  border: 1px solid transparent;
  border-radius: 5px;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  display: inline-block;
}
