#features {
  background-color: #fafafa;
  scroll-behavior: smooth;
}
.demo-header {
  @extend %container;
  padding-top: 48px;
  position: relative;
  @media screen and (min-width: $desktop) {
    .hero-btn {
      position: absolute;
      top: 48px;
      right: $sidePadding;
    }
  }
}
.demo-basic {
  @include font($fs: 22px, $lh: 1.46, $ls: -0.4px);
  margin-top: 24px;
  margin-bottom: 32px;
  @media screen and (min-width: $desktop) {
    width: calc(100% - 200px);
  }
}
.demo-title {
  @include titleFont($fs: 36px, $lh: 1.35, $ls: -2px);
  margin-bottom: 24px;
  @media screen and (min-width: $desktop) {
    font-size: 48px;
  }
}
.demo-item {
  padding-top: 24px;
  padding-bottom: 24px;
  @media (max-width: #{$desktop - 1}) {
    padding-left: $mobilePadding;
    padding-right: $mobilePadding;
  }
  @media screen and (min-width: $desktop) {
    // @include flex($jc: flex-end);
    display: flex;
    align-items: center;
    column-gap: 70px;

    &:nth-child(odd) {
      padding-left: $sidePadding;
      .demo-img {
        object-position: 0 0;
      }
    }
    &:nth-child(even) {
      padding-right: $sidePadding;
      flex-direction: row-reverse;
      .demo-img {
        object-position: 100%;
      }
    }
  }
}
.demo-text {
  @include textFont;
  margin-bottom: 24px;
  @media screen and (min-width: $desktop) {
    flex-basis: 40%;
  }
}
.demo-img {
  // max-height: 580px;
  @media screen and (min-width: $desktop) {
    height: 580px;
    object-fit: cover;
  }
}
