.feature-list {
  @extend %container;
  padding-top: 48px;
  padding-bottom: 64px;
  @media screen and (min-width: $tablet) {
    @include flex($ali: flex-start);
  }
  @media screen and (min-width: $desktop) {
    padding-top: 72px;
    padding-bottom: 96px;
  }
}

.feature:not(:last-child) {
  @media (max-width: #{$tablet - 1}) {
    margin-bottom: 48px;
  }
  @media (min-width: $tablet) {
    margin-right: 40px;
  }
  @media (min-width: $desktop) {
    margin-right: 81px;
  }
  @media screen and (min-width: $wide) {
    margin-right: 200px;
  }
}

.feature-icon {
  margin-bottom: 31px;
}
.feature-title {
  @include subTitleFont;
  margin-bottom: 20px;
  @media (min-width: $tablet) {
    height: 70px;
  }
  @media (min-width: $desktop) {
    height: auto;
  }
}
.feature-text {
  @include font($fs: 16px, $lh: 1.63, $ls: -0.36px);
}

.comparison {
  @media screen and (min-width: $desktop) {
    @include flex($ali: stretch);
  }
}
.frontend,
.backend {
  padding-top: 48px;
  padding-bottom: 64px;
  @media (max-width: #{$desktop - 1}) {
    padding-left: $mobilePadding;
    padding-right: $mobilePadding;
  }

  @media screen and (min-width: $desktop) {
    flex-basis: 50%;
    padding-bottom: 96px;
    padding-top: 64px;
  }
}
.frontend {
  border-top: 1px solid $bgdColor;
  padding-left: $mobilePadding;
  @media screen and (min-width: $desktop) {
    padding-left: 167px;
    padding-right: 53px;

    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    .comparison-footer {
      margin-top: auto;
    }
  }
}
.backend {
  background-color: $bgdColor;
  @media screen and (min-width: $desktop) {
    padding-left: 40px;
    padding-right: 167px;
  }
}
.comparison-title {
  @include titleFont($fs: 36px, $lh: 1.33, $ls: -2px);
  margin-top: 32px;
  margin-bottom: 16px;
}
.comparison-text {
  @include font($ls: -0.4px);
  margin-bottom: 24px;
  max-width: 850px;
}
.git-stars {
  display: flex;
  align-items: center;
  column-gap: 4px;
  margin-bottom: 32px;
}
.git-text {
  @include font($fs: 14px, $fw: 500, $lh: 2, $ls: 2px);
  text-align: center;
}
.comparison-list {
  padding-left: 15px;
  padding-bottom: 32px;
  // border-bottom: 1px solid $lightTextColor;
}
.comparison-item {
  list-style-type: disc;
  list-style-position: outside;
  @include font(
    $fw: 500,
    $fs: 16px,
    $lh: 1.31,
    $ls: -0.36px,
    $cl: $mainEmphasisColor
  );
  margin-bottom: 14px;
  span {
    color: $titleTextColor;
    font-weight: 700;
  }
}
.total {
  @include subTitleFont($fs: 18px, $lh: 1.77);
  margin-top: 32px;
  margin-bottom: 32px;
  span {
    color: $mainEmphasisColor;
  }
}
.comparison-buttons {
  @include flex($jc: flex-start);
  column-gap: 12px;
}
.comparison-footer {
  width: 100%;
  border-top: 1px solid $lightTextColor;
}
