.form-section {
  @extend %container;
  background-color: $blackBackground;
  background-image: url("../images/form-bg-mob.png");

  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;

  @include flex($ali: stretch);
  flex-direction: column;
  padding-top: 169px;
  padding-bottom: 169px;

  @media (min-width: $desktop) and (-webkit-max-device-pixel-ratio: 3) {
    background-image: url("../images/form-bg@3x.png");
  }
  @media (min-width: $desktop) and (min-device-pixel-ratio: 2) {
    background-image: url("../images/form-bg@2x.png");
  }

  @media screen and (min-width: $desktop) {
    background-image: url("../images/form-bg@1x.png");
    padding-top: 85px;
    padding-bottom: 85px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 50px;
  }

  @media screen and (min-width: 1350px) {
    justify-content: flex-start;
    column-gap: 100px;
  }
}
.form-title {
  @include subTitleFont($fs: 48px, $lh: 1.17, $cl: #fff, $ls: -1px);
  margin-bottom: 72px;
  padding-bottom: 0;
  @media screen and (min-width: $desktop) {
    flex-basis: 50%;
    margin-bottom: 0;
  }
}
.form-container {
  position: relative;
  top: 40px;
  height: 150px;
  width: 350px;
}
