.form-section {
  @extend %container;
  background-color: $blackBackground;

  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;

  @include flex($ali: stretch);
  flex-direction: column;
  padding-top: 169px;
  padding-bottom: 169px;

  @media (max-width: #{$tablet - 1}) {
    background-image: url("../images/mobForm@1x.jpg");
    background-image: -webkit-image-set(
      url("../images/mobForm@1x.webp"),
      url("../images/mobForm@1x.jpg")
    );
    background-image: image-set(
      url("../images/mobForm@1x.webp") type("image/webp") 1x,
      url("../images/mobForm@1x.jpg") type("image/jpeg") 1x
    );
  }
  @media (min-width: $tablet) and (max-width: #{$desktop - 1}) {
    background-image: url("../images/mobForm@1x.jpg");
    background-image: -webkit-image-set(
      url("../images/mobForm@1x.webp") 1x,
      url("../images/mobForm@1x.jpg") 1x,
      url("../images/mobForm@2x.webp") 2x,
      url("../images/mobForm@2x.jpg") 2x
    );
    background-image: image-set(
      url("../images/mobForm@1x.webp") type("image/webp") 1x,
      url("../images/mobForm@2x.webp") type("image/webp") 2x,
      url("../images/mobForm@1x.jpg") type("image/jpeg") 1x,
      url("../images/mobForm@2x.jpg") type("image/jpeg") 2x
    );
  }

  @media screen and (min-width: $desktop) {
    padding-top: 85px;
    padding-bottom: 85px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 50px;

    background-image: url("../images/form@1x.jpg");
    background-image: -webkit-image-set(
      url("../images/form@1x.webp") 1x,
      url("../images/form@2x.webp") 2x,
      url("../images/form@3x.webp") 3x,
      url("../images/form@1x.jpg") 1x,
      url("../images/form@2x.jpg") 2x,
      url("../images/form@3x.jpg") 3x
    );
    background-image: image-set(
      url("../images/form@1x.webp") type("image/webp") 1x,
      url("../images/form@2x.webp") type("image/webp") 2x,
      url("../images/form@3x.webp") type("image/webp") 3x,
      url("../images/form@1x.jpg") type("image/jpeg") 1x,
      url("../images/form@2x.jpg") type("image/jpeg") 2x,
      url("../images/form@3x.jpg") type("image/jpeg") 3x
    );
  }

  @media screen and (min-width: 1350px) {
    justify-content: flex-start;
    column-gap: 100px;
  }
  @media screen and (min-width: $wide) {
    background-image: url("../images/form@1x.jpg");
    background-image: -webkit-image-set(
      url("../images/form@2x.webp") 1x,
      url("../images/form@3x.webp") 2x,
      url("../images/form@2x.jpg") 1x,
      url("../images/form@3x.jpg") 2x
    );
    background-image: image-set(
      url("../images/form@2x.webp") type("image/webp") 1x,
      url("../images/form@3x.webp") type("image/webp") 2x,
      url("../images/form@2x.jpg") type("image/jpeg") 1x,
      url("../images/form@3x.jpg") type("image/jpeg") 2x
    );
  }
}

.form-title {
  @include subTitleFont($fs: 48px, $lh: 1.17, $cl: #fff, $ls: -1px);
  margin-bottom: 72px;
  padding-bottom: 0;
  @media screen and (min-width: $desktop) {
    flex-basis: 50%;
    margin-bottom: 0;
    overflow-x: visible;
  }
}
.form-container {
  position: relative;
  top: 40px;
  height: 150px;
  width: 350px;
}
