@import "./menu";

.header-container {
  @include flex($jc: space-between);
  padding-top: 12px;
  padding-bottom: 12px;
  @media screen and (min-width: $tablet) {
    padding-top: 22px;
    padding-bottom: 22px;
  }
  .name {
    overflow-x: visible;
  }
}
.logo-header {
  @include flex;
  @include titleFont($fs: 18px, $lh: 1, $ls: 1);
  column-gap: 14px;
}
.site-nav {
  display: flex;
  list-style: none;
  column-gap: 32px;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
  @media screen and (max-width: $tablet) {
    row-gap: 32px;
  }
}
.site-nav__item.site-nav__item--current {
  @media screen and (max-width: 767px) {
    margin-bottom: 52px;
  }
}
.site-nav__link {
  @include font($fs: 16px, $lh: 1.63);
  &:is(:hover, :focus, :active) {
    text-decoration: underline;
  }
}
