.hero {
  background-color: $blackBackground;

  .container {
    padding-top: 55px;
    padding-bottom: 55px;
  }

  @media screen and (min-width: $desktop) {
    height: 800px;
    background-image: url(../../images/hero-2x.png);
    background-repeat: no-repeat;
    background-size: cover;

    .container {
      width: 60%;
    }
    .hero-btn {
      width: 200px;
    }
  }
}
.hero-title {
  @include titleFont($cl: #fff);
  margin-bottom: 24px;
  @media screen and (min-width: $desktop) {
    font-size: 72px;
    line-height: 1;
    letter-spacing: -3px;
    margin-bottom: 40px;
  }
}
.hero-text {
  @include font($cl: $charcoalTextColor);
  margin-bottom: 24px;
  @media screen and (min-width: $desktop) {
    margin-bottom: 40px;
  }
}
