#showcase {
  margin-top: 48px;
  scroll-behavior: smooth;
}
.showcase-stars {
  @include flex;
  @media (max-width: #{$desktop - 1}) {
    flex-direction: column;
  }
  @media (min-width: $desktop) {
    align-items: flex-start;
    column-gap: 120px;
  }
}

.showcase-description {
  margin-bottom: 32px;
  @media screen and (min-width: $desktop) {
    flex-basis: 46%;
  }
}
.showcase-title {
  @include titleFont($fs: 36px, $lh: 1.35, $ls: -2px);
  @media screen and (min-width: $desktop) {
    font-size: 48px;
    margin-bottom: 16px;
  }
}
.showcase-text {
  @include textFont;
  margin-bottom: 16px;
  a {
    @include subTitleFont(
      $fs: 16px,
      $lh: 2,
      $ls: -0.36px,
      $cl: $titleTextColor
    );
    text-decoration: underline;
  }
}
.dev-number-box {
  @media screen and (min-width: $desktop) {
    @include flex($ali: stretch);
    max-width: 512px;
  }
}
.dev-number-upper {
  background-color: $bgdColor;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  @include flex;
  flex-direction: column;
  @media screen and (min-width: $desktop) {
    border-top-right-radius: 0;
    border-bottom-left-radius: 20px;
  }
}
.dev-number {
  @include titleFont($fs: 64px, $lh: 1.15);
  padding: 24px 24px 0;
  overflow-x: visible;
  @media screen and (min-width: $desktop) {
    padding: 16px 20px 0 24px;
  }
}
.developers {
  @include titleFont($fs: 24px, $lh: 1.33, $ls: -0.36px, $fw: 500, $cl: #000);
  background-color: $bgdColor;
  text-transform: uppercase;
  padding-left: 24px;
  @media screen and (min-width: $desktop) {
    padding: 0 20px 16px 24px;
  }
}
.dev-number-text {
  background-color: $bgdColor;
  @include subTitleFont;
  padding: 20px 24px 24px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  @media (min-width: $tablet)  and (max-width: #{$desktop - 1}) {
    text-align: center;
  }
  @media screen and (min-width: $desktop) {
    border-bottom-left-radius: 0;
    border-top-right-radius: 20px;
  }
}
.showcase-image {
  @media screen and (min-width: $desktop) {
    flex-basis: 46%;
  }
}
.cases-list {
  @include flex($jc: space-between, $ali: flex-start);
  flex-direction: column;
  margin-top: 96px;
  @media screen and (min-width: $desktop) {
    flex-direction: row;
    padding: 21px 24px 96px 20px;
  }
  .case-item {
    @media screen and (min-width: $desktop) {
      margin-bottom: 0;
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
}
.case-item {
  flex-basis: 33%;
  margin-bottom: 64px;
}
.case-logo {
  height: 85px;
}
.case-title {
  @include subTitleFont;
  margin-bottom: 16px;
}
.case-text {
  @include textFont($lh: 1.625);
  margin-bottom: 16px;
}
.case-link {
  @include subTitleFont($fs: 18px, $lh: 1.55, $ls: 0);
  text-decoration: underline;
}
.star-history-link {
  flex-basis: 50%;
}
