#team {
  @extend %container;
  padding-top: 48px;
  padding-bottom: 64px;
}
.team-description {
  @media screen and (min-width: $desktop) {
    @include flex($ali: flex-end, $jc: space-between);
  }
}
.team-title {
  @include titleFont($fs: 36px, $lh: 1.35, $ls: -2px);
  margin-bottom: 25px;
  @media screen and (min-width: $desktop) {
    font-size: 48px;
  }
}

.team-text {
  @include textFont;
  margin-bottom: 16px;
  a {
    @include subTitleFont(
      $fs: 16px,
      $lh: 2,
      $ls: -0.36px,
      $cl: $titleTextColor
    );
    text-decoration: underline;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 0;
  }
}

.contributors-list {
  @include flex;
  flex-direction: column;
  margin-top: 80px;
  @media screen and (min-width: $desktop) {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 102px;
    row-gap: 64px;
  }
}
.contributor-item {
  padding-right: 43px;
  &:not(:last-child) {
    margin-bottom: 40px;
  }
  @media screen and (min-width: $desktop) {
    flex-basis: calc(33% - 68px);
    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}
.contributor-name {
  @include subTitleFont($fs: 24px, $lh: 1, $ls: -0.4px, $fw: 800);
  margin-top: 32px;
}
.position {
  @include textFont($fs: 18px, $lh: 1.33, $ls: -0.4px);
}
